body {
	background-color: gray;
}

form { 
	flex-direction: column;
	width: 70%;
	margin: auto;
	background-color: white;
	margin-top: 60px;
	padding:50px;
	border: solid 2px;
	border-radius: 6px;
	
}

table { 
	width: 50%;
	margin: auto;
	background-color: black;
	margin-top: 40px;
	padding: 1,5px;
	border: solid 2px;
	border-radius: 3px;
}

th, td {
	color: blck;
	border: 1px solide white;
	border-collapse: collapse;
	text-aling: center;
	background-color: white;
}

